<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro de Libros</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<header>
    <div class="container">
        <h2>Ingresa la editorial aquí</h2>
    </div>
</header>

<div class="container">
    <form action="/libro/registro" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name= "isbn" placeholder="ISBN del libro">
            <input type="text" class="form-control" name= "titulo" placeholder="Titulo del libro">
            <input type="text" class="form-control" name= "ejemplares" placeholder="Cantidad de ejemplares">
        </div>
        <button type="submit" class="btn btn-primary">Subir</button>
    </form>
</div>

<div th:if="${Error != null}" class="card text-white bg-danger mb-3 mensajeError">
    <div class="card-body">
            <h5 class="card-title">Error</h5>
        <p class="card-text" th:text="${Error}"></p>
    </div>
</div>

<div th:if="${Érror != null}" class="card text-white bg-danger mb-3 mensajeExito">
    <div class="card-body">
        <h5 class="card-title">Exito!</h5>
        <p class="card-text" th:text="${Éxito}"></p>
    </div>
</div>


</body>
</html>